/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
	box-sizing: border-box;
}

body {
	@include media("<360px") {
		--wp--custom--layout--padding: 10px;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Wrap
--------------------------------------------- */

.wrap {
	max-width: calc( var(--wp--custom--layout--wide) + calc( 2 * var(--wp--custom--layout--padding ) ) );
	margin: 0 auto;
	padding-left: var(--wp--custom--layout--padding);
	padding-right: var(--wp--custom--layout--padding);

}

.site-inner {
	padding: var(--wp--custom--layout--block-gap) 0 var(--wp--custom--layout--block-gap-large);
}

body.full-width-content {
	--wp--custom--layout--page: var(--wp--custom--layout--wide);

	.site-inner {
		margin-top: -80px;
		padding: 0;
		@include media(">mobile_menu") {
			margin-top: -50px;
		}
	}
	.content-area {
		max-width: 100%;
	}
	.entry-content {
		> * + * {
			margin: 0;
		}
		> div[class*="wp-block-"] {
			max-width: 100%;
			padding: 0;
			> div[class*="wp-block-"] {
				max-width: calc(var(--wp--custom--layout--wide) + 2* var(--wp--custom--layout--padding));
				margin: 0 auto;
				padding-left: var(--wp--custom--layout--padding);
				padding-right: var(--wp--custom--layout--padding);
			}
		}
	}
}

.featured-image {
	img {
		width: 100%;
		position: re
	}
}
/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: var(--wp--preset--color--bg-1);
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/* Sidebar Layouts
--------------------------------------------- */

.sidebar-primary {
	float: none;
	width: 100%;
	margin-top: var(--wp--custom--layout--block-gap-large);
}

@include media(">=medium") {
	.full-width-content {
		.content-area {
			max-width: var(--wp--custom--layout--wide);
			margin-left: auto;
			margin-right: auto;
		}
	}
	.content-sidebar {

		.content-area {
			display: grid;
			grid-template-columns: 6fr 4fr;
			grid-column-gap: var(--wp--custom--layout--block-gap-large);
			max-width: var(--wp--custom--layout--wide);
			margin-left: auto;
			margin-right: auto;
		}

		.site-main {
			float: none;
			width: 100%;
			max-width: var(--wp--custom--layout--content);
		}

		.sidebar-primary {
			margin-top: -95px;
		}
	}
}

/* Mobile / Desktop Hiding
--------------------------------------------- */
@include media("<=781px") {
	.entry-content {
		.hidden-mobile {
			display: none;
		}
	}

}
@include media(">781px") {
	.entry-content {
		.hidden-desktop {
			display: none;
		}
	}
}
@include media("<=mobile_menu") {
	.site-header {
		.hidden-mobile {
			display: none;
		}
	}
}
@include media(">mobile_menu") {
	.site-header {
		.hidden-desktop {
			display: none;
		}
	}
}
