/* Main quiz page */
body img.gform_ajax_spinner {
    display: none!important;
}
.page-template-template-quiz {
	.site-inner {
		padding: 0;
	}
	.site-main {
		background: #e6e8fb;
		overflow: hidden;
	}
	.project-number {
		margin-left: 0 !important;
		margin-right: 0 !important;
		max-width: 500px;
	}
}
#kytg-quiz {
	width: 100%;
	max-width: 1440px;
	padding: 0 16px;

	h1 {
		font-size: 48px !important;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	.wp-block-columns {
		flex-wrap: wrap !important;

		.wp-block-column {
			flex-basis: initial;
		}
	}

	.text-information {
		order: 2;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 10px;

		.survey-callout {
			display: none;
		}

	}

	#question-tip {
		order: 1;
		width: 100%;
		background-color: transparent;
	}

	.gfield_description,
	.survey-callout {
		font-size: 16px;
		color: var(--wp--preset--color--bg-1);
		background: #9e7feb;
		padding: 16px 16px 16px 48px;
		margin-top: 1rem;
		background-image: url('../images/yield-icon.png');
		background-repeat: no-repeat;
		background-position: 12px 19px;
		background-size: 24px;
		font-weight: 400;

		p {
			margin: 0;

		}
	}

	.gfield_description {
		display: none;
		line-height: 1.2;
	}

	.survey-callout {
		margin-top: 1.5rem;

		a,
		a:hover {
			color: var(--wp--preset--color--bg-1);
			text-decoration: underline;
		}
	}

	.gfield_label {
		margin-bottom: 32px;
		font-size: 24px;
		font-weight: normal;
		line-height: 1.2;
		.gfield_required {
			display: none;
		}
	}

	input[type="text"],
	input[type="email"] {
		font-size: 20px;
	}

	.gfield_radio {
		display: flex;
		justify-content: flex-start;
	}

	.gchoice {
		white-space: nowrap;
		margin-right: 16px;

		label {
			font-size: 24px;
			cursor: pointer;
			font-weight: 300;
		}
	}

	input[type="radio"] {
		display: none;

		+ label {
			padding-left: 28px;
			padding-right: 8px;
			background-image: url('../images/quiz-checkbox.jpg');
			background-repeat: no-repeat;
			background-position: 0 4px;
			background-size: 21px;
		}

		&:checked + label {
			background-image: url('../images/quiz-checkbox-checked.jpg');
		}
	}

	.gfield_select {
		border-radius: 20px;
		border: none;
		box-shadow: 5px 5px 5px #adaebd;
	}

	.gfield--type-select {
		label {
			font-size: 20px;
			margin-bottom: .5rem;
		}
		select {
			font-size: 20px;
			padding: 8px 10px;
			color: #9289b5;
		}
	}

	.gform_page_footer {
		margin-top: 48px;
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;

		.button {
			text-decoration: none;
			font-size: 12px;
			background: var(--wp--preset--color--bg-1);
			color: #FF7E4F !important;
			border: 1px solid #FF7E4F;
			border-radius: 30px;
			color: var(--wp--preset--color--bg-1);
			padding: 16px 24px;
			width: 150px;
			cursor: pointer;

			&:hover {
				background: #FF7E4F;
				color: var(--wp--preset--color--bg-1) !important;
			}

			&[type="submit"] {
				background: #FF7E4F;
				color: var(--wp--preset--color--bg-1) !important;
				max-width: none;

				&:hover {
					background: transparent;
					color: #FF7E4F !important;
				}
			}
		}
	}
	#field_4_18 {
		font-weight: 400;
	}
}

#gf_page_steps_4 {
	background: linear-gradient(
		to bottom,
		transparent 40%,
		#906ce8 40% 60%,
		transparent 60%
	);
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 43px;
}
.gf_step {
	background:#906ce8;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 1rem;
	color: #a2ace7;
	border: 4px solid #906ce8;
	font-weight: 400;
}
.gf_step.gf_step_active {
	background: var(--wp--preset--color--bg-1);
	color:#906ce8;
}
.gf_step.gf_step_last {
	display: none;
}
.gform_next_button {
	display: block !important;
}
.gform_wrapper.gravity-theme .gform_page_footer input.button:disabled {
	cursor: default !important;
	pointer-events: none !important;
}
.quiz-page-1 #kytg-quiz .gform_page_footer,
.quiz-page-6 #kytg-quiz .gform_page_footer {
	justify-content: flex-end;
}
.quiz-page-6 .wp-block-heading,
.quiz-page-6 .gform_previous_button {
	display: none;
}
.survey-last-question-intro {
	font-size: 32px !important;
}
.survey-last-question-intro:after {
	content: "* Required Field";
	font-size: 13px;
	color: #9289b5;
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.page-index {
	margin-top: 0;
	padding-top: .5rem;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}
.quiz-page-6 .gf_page_steps,
.quiz-page-6 .page-index {
	display: none !important;
}

@media (max-width: 1023px) {
	#kytg-quiz #question-tip .gfield_description {
		display: none !important;
	}
}
@media (min-width: 1024px) {
	.page-template-page-quiz .page-title {
		padding-right: 100px;
	}
	#kytg-quiz {
		background: #e6e8fb;
		position: relative;
		padding-bottom: 2rem;
	}
	#kytg-quiz .wp-block-columns {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 16px;
		align-items: center !important;
		height: 700px;
	}
	#kytg-circle {
		content: "";
		position: absolute;
		width: 1400px;
		height: 1400px;
		top: -350px;
		left: 50%;
		right: auto;
		bottom: -350px;
		background-image:
			radial-gradient(
			circle at center right,
			#e6e9fb,
			#d4cff7 80%
			);
		border-radius:100%;
	}
	#kytg-quiz .text-information {
		order: 1;
		grid-column-start: 1;
		grid-column-end: 4;
		padding-top: 32px;
		padding-right: 60px;
	}
	#kytg-quiz .gfield_description,
	#kytg-quiz .survey-callout {
		font-size: 28px;
		color: var(--wp--preset--color--bg-1);
		padding: 0 32px 0 105px;
		background-position: 32px 6px;
		background-size: 60px;
		margin-top: 0;
		background-color: transparent;
	}
	#kytg-quiz .survey-callout {
		margin-top: 0;
	}
	#kytg-quiz #question-tip {
		order: 2;
		grid-column-start: 4;
		grid-column-end: 6;
		display: grid;
		grid-template-rows: 90px 100px auto;
		background-color: transparent;
		position: relative;
		z-index: 2;
		height: 100%;
	}
	.quiz-page-6 #kytg-quiz #question-tip {
		display: grid;
		grid-template-rows: 300px auto;
	}
	.quiz-page-6 #kytg-quiz #question-tip .survey-callout {
		grid-row-start: 2;
	}
	.page-index {
		font-size: 24px;
		padding-top: 0;
	}
	#kytg-quiz #question-tip .gfield_description,
	#kytg-quiz #question-tip .survey-callout {
		margin-left: -20%;
	}
	.quiz-page-5 #kytg-quiz #question-tip .gfield_description {
		font-size: 24px;
	}
	#kytg-quiz .gform-body {
		max-width: 80%;
	}
	#kytg-quiz .text-information .gfield_description {
		display: none !important;
	}
	#kytg-quiz .gfield_label {
		font-size: 36px;
	}
	.quiz-page-4 #kytg-quiz .gfield_label {
		font-size: 32px;
	}
	#kytg-quiz .gchoice {
		margin-right: 0;
	}
	#kytg-quiz .gchoice label {
		font-size: 32px;
	}
	#kytg-quiz .gfield_radio {
		justify-content: space-between;
	}
	#kytg-quiz input[type="radio"] + label {
		padding-left: 32px;
		background-position: 0 10px;
		background-size: 24px;
	}
	#kytg-quiz .gform_page_footer .button {
		font-size: 16px;
		width: 250px;
	}
	.quiz-page-6 #kytg-quiz .wp-block-columns {
		height: 930px;
	}
	.quiz-page-6 #kytg-circle {
		width: 1860px;
		height: 1860px;
		top: -465px;
		bottom: -465px;
	}
	.project-number {
		position: absolute;
		bottom: 8px;
	}
	#kytg-quiz .gform_validation_errors {
		width: 80%;
	}
}
@media (min-width: 1200px) {
	#kytg-quiz {
		padding-left: 120px;
		padding-right: 120px;
	}
	#kytg-quiz .gfield_description,
	#kytg-quiz .survey-callout {
		padding-left: 142px;
		background-size: 80px;
	}
}
@media (min-width: 1400px) {
	#kytg-quiz .gfield_description,
	#kytg-quiz .survey-callout {
		font-size: 32px;
	}
	.quiz-page-4 #kytg-quiz .gfield_label {
		font-size: 36px;
	}
	.quiz-page-5 #kytg-quiz #question-tip .gfield_description {
		font-size: 29px;
	}
}